@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

// From: https://github.com/Team-Sass/Sassy-math/blob/master/sass/math.scss

@function exponent($base, $exponent) {
  // reset value
  $value: $base;
  // positive integers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
  }
  // negative integers get divided. A number divided by itself is 1
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base;
    }
  }
  // return the last value written
  @return $value;
}

@function pow($base, $exponent) {
  @return exponent($base, $exponent);
}
